body
{
	margin: 0px;
	font-family: Helvetica;
}


.parallax
{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("silksong.jpg");
	min-height: 700px;
	border-collapse: collapse;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.parallax1
{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("hk.jpg");
	min-height: 700px;
	border-collapse: collapse;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.split
{
	display: flex;
	height: 500px;
	color: #ffffff;
	background-color: black;
	font-size: 15px;
	justify-content: center;
	text-align: bottom;
	align-items: flex-end;
}